<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment = "site-header">
    <header class = "header">
        <div class = "Container header-container">
            <div class = "logo">P.<span>S.</span></div>
            <nav class = "nav">
                <div class = "nav-links">
                    <a href="#about" class = "Nav-link">About</a>
                    <a href="#projects" class = "Nav-link">Projects</a>
                    <a href="#experience" class = "Nav-link">Experience</a>
                    <a href="#achievements" class = "Nav-link">Achievements</a>
                    <a href="#contact" class = "Nav-link">Contact</a>
                </div>

            </nav>
        </div>
    </header>


</th:block>
</html>